:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.MuiTypography-root {
  font-family: inherit !important;
}
.MuiButton-root {
  font-family: inherit !important;
}

.MuiChip-root {
  font-family: inherit !important;
}

.MuiPopper-root ul {
  padding: 0px !important;
  width: 100%;
  max-width: 400px;
  box-shadow: none;
  --Paper-shadow: none !important;
}

.MuiPopper-root {
  width: 100%;
  max-width: 400px;
  box-shadow: none;
  --Paper-shadow: none !important;
}
.MuiAutocomplete-paper {
  border-radius: 0 0 20px 20px !important;
  width: 100%;
  max-width: 400px;
  box-shadow: none;
  --Paper-shadow: none !important;
}

/* @media (max-width: 768px) {
  .MuiPopper-root ul {
    padding: 0px !important;
    width: 100%;
    box-shadow: none;
    --Paper-shadow: none !important;
  }

  .MuiPopper-root {
    box-shadow: none;
    --Paper-shadow: none !important;
    width: 100%;
  }
  .MuiAutocomplete-paper {
    border-radius: 0 0 20px 20px !important;
    width: 100%;
    box-shadow: none;
    --Paper-shadow: none !important;
  }
} */

.css-1cv3st9-MuiPaper-root-MuiAutocomplete-paper {
  font-family: inherit !important;
}

body {
  color: var(--foreground);
  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
